#Heading {
    background-color: rgb(86, 91, 122);
  /* justify-content: ; */
  color: rgb(252, 252, 252);
  margin-bottom: 0px;
  margin-top: 0px;
}
#h1 {
  color: rgb(249, 253, 2);
}
.statment {
  color: rgb(10, 10, 10);
}
.button {
    color: rgb(10, 10, 10);
    height: 25px;
  /* color: rgb(248, 3, 3); */
}
.part{
    /* margin-top: 0px; */
    background-color: rgb(175, 175, 174);
border: 1000px;
border-color: rgb(200, 1, 1);
padding: 10px;
padding-left: 10px;

}